<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->


<style>
  /*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-385 {
    padding: var(--sectionPadding);
    position: relative;
    padding-bottom: 0px;
    
  }
  #cta-385 .cs-background {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-blend-mode: multiply;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-385 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
  #cta-385 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-385 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 27.125rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #cta-385 .cs-text {
    margin-bottom: 1rem;
  }
  #cta-385 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
 
  #cta-385 .cs-image-group {
    /* everything is in ems so we can scale the container down with a font size */
    font-size: min(2.6vw, .8em);
    width: 33.9375em;
    height: 28.75em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cta-385 .cs-bucket {
    width: 33.9375em;
    height: auto;
    display: block;
    position: relative;
  }
  #cta-385 .cs-bucket img {
    width: 100%;
    height: auto;
  }
  #cta-385 .cs-powder {
    width: 30.3125em;
    height: auto;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: -1;
  }
  #cta-385 .cs-powder img {
    width: 100%;
    height: auto;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-385 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #cta-385 .cs-content {
    text-align: left;
    align-items: flex-start;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #cta-385 .cs-image-group {
    font-size: min(1.45vw, 1em);
  }
}
                                
</style>

<section id="cta-385"   >
  <div class="cs-container" >
      <div class="cs-content" >
          <span class="cs-topper" data-aos="fade-up">Let’s Build Smarter.</span>
          <h2 class="cs-title" data-aos="fade-up"> Let’s Build Better.</h2>

          <a href="" class="cs-button-solid">Let's build together</a>
      </div>
      <div class="cs-image-group">

          <!--Bucket Image-->
          <picture class="cs-bucket">
              <source media="(max-width: 600px)" srcset="/assets/images/logo.png">
              <source media="(min-width: 601px)" srcset="/assets/images/logo.png">
              <img loading="lazy" decoding="async" src="/assets/images/logo.png" alt="bucket" width="543" height="437" aria-hidden="true">
          </picture>
      </div>
  </div>

</section>
                              