<style>
    /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {

        #RPsbs-2278,
        #RPsbsr-2278 {
            background-color: #f7f7f7;
            padding: var(--sectionPadding);
            /* clips the green background pseudo from overflowing the section */
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px, changed clamp at Desktop */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        #RPsbs-2278 .cs-header,
        #RPsbsr-2278 .cs-header {
            width: 100%;
            /* changes to 1280px at Desktop */
            max-width: 43.75rem;
            margin: auto;
        }

        #RPsbs-2278 .cs-container,
        #RPsbsr-2278 .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: 43.75rem;
            margin: auto;
            padding: var(--sectionPadding);
            padding-left: 0;
            padding-right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px, changed clamp at tablet */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        #RPsbs-2278 .cs-container:before,
        #RPsbsr-2278 .cs-container:before {
            /* green background */
            content: "";
            width: 100vw;
            height: 100%;
            background: #fff;
            opacity: 1;
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }

        #RPsbs-2278 .cs-content,
        #RPsbsr-2278 .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: 42.875rem;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        #RPsbs-2278 .cs-title,
        #RPsbsr-2278 .cs-title {
            margin: 0;
            max-width: 24ch;
        }

        #RPsbs-2278 .cs-h3,
        #RPsbsr-2278 .cs-h3 {
            /* 25px - 39px */
            font-size: clamp(1.5625rem, 4vw, 2.4375rem);
            line-height: 1.2em;
            margin: 0 0 1rem;
            color: var(--headerColor);
        }

        #RPsbs-2278 .cs-text,
        #RPsbsr-2278 .cs-text {
            margin-bottom: 1rem;
            /* uncomment this style if you remove the list for consistent styling*/
        }

        #RPsbs-2278 .cs-heading,
        #RPsbsr-2278 .cs-heading {
            font-size: 1rem;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 1rem;
            color: var(--headerColor);
        }

        #RPsbs-2278 .cs-ul,
        #RPsbsr-2278 .cs-ul {
            width: 100%;
            margin: 0 0 2rem 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
        }

        #RPsbs-2278 .cs-li,
        #RPsbsr-2278 .cs-li {
            list-style: none;
            font-size: 1rem;
            line-height: 1.5em;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0.75rem;
            position: relative;
            z-index: 1;
        }

        #RPsbs-2278 .cs-li:before,
        #RPsbsr-2278 .cs-li:before {
            content: '';
            width: 0.5rem;
            height: 0.5rem;
            margin-top: 0.4375rem;
            background: var(--secondary);
            opacity: 1;
            display: block;
            flex: none;
            transform: rotate(45deg);
        }

        #RPsbs-2278 .cs-number,
        #RPsbsr-2278 .cs-number {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            font-weight: 700;
            /* 24px - 28px */
            width: clamp(1.5rem, 2.9vw, 1.75rem);
            height: clamp(1.5rem, 2.9vw, 1.75rem);
            margin-right: 0.75rem;
            border-radius: 50%;
            background: var(--headerColor);
            color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            /* we set this element to align to the top of the li, so if there's 
            multiple lines it will stay at the top instead of the center of the text */
            align-self: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
        }



        #RPsbs-2278 .cs-picture,
        #RPsbsr-2278 .cs-picture {
            width: 100%;
            height: 91.14vw;
            max-height: 22.5rem;
            margin: 0;
            position: relative;
            display: block;
        }

        #RPsbs-2278 .cs-picture img,
        #RPsbsr-2278 .cs-picture img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    /* Desktop - 768px */
    @media only screen and (min-width: 64rem) {

        #RPsbs-2278 .cs-header,
        #RPsbsr-2278 .cs-header {
            max-width: 80rem;
        }

        #RPsbs-2278 .cs-container,
        #RPsbsr-2278 .cs-container {
            max-width: 80rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        #RPsbs-2278 .cs-container:before,
        #RPsbsr-2278 .cs-container:before {
            /* 110px - 335px */
            margin-left: calc(clamp(110px, 14vw, 335px)*-1);
            left: 50%;
            transform: none;
        }

        #RPsbs-2278 .cs-picture,
        #RPsbsr-2278 .cs-picture {
            max-width: 32.625rem;
            height: auto;
            max-height: 100%;
        }
    }

    /*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #RPsbsr-2278 {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    /* Desktop - 768px */
    @media only screen and (min-width: 64em) {
        #RPsbsr-2278 {
            padding: var(--sectionPadding);
            padding-top: 0;
        }

        #RPsbsr-2278 .cs-container {
            justify-content: flex-end;
        }

        #RPsbsr-2278 .cs-container:before {
            margin-left: 0;
            /* 110px - 335px */
            margin-right: calc(clamp(110px, 14vw, 335px)*-1);
            right: 50%;
            left: auto;
            transform: none;
        }

        #RPsbsr-2278 .cs-picture {
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
</style>


<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-2278">
    <div class="cs-header" id="services">
        <span class="cs-topper">Our Core</span>
        <h2 class="cs-title">Commercial<BR>Construction Services</h2>
    </div>
    <div class="cs-container" id="tenant-office-renovations">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/1.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/1.jpg" alt="construction" width="500" height="552"
                aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <h3 class="cs-h3">Tenant Office Renovations</h3>
            <p class="cs-text">
                Your office should work for you, not against you. We transform outdated office spaces into modern,
                functional environments that inspire productivity and improve employee retention. Whether you're a
                building owner or a tenant, we create offices that feel like home while maximizing efficiency.
            </p>
            <span class="cs-heading">Services Include:</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    ✔ Full office redesign & layout improvements

                </li>
                <li class="cs-li">
                    ✔ Breakroom & common area renovations

                </li>
                <li class="cs-li">
                    ✔ Upgraded lighting, flooring, and finishes
                </li>

            </ul>
            <a class="cs-button-solid" href="">Contact us to get started</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-2278">
    <div class="cs-container" id="commercial-remodeling">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/2.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/2.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/2.jpg" alt="construction" width="500" height="552"
                aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <h3 class="cs-h3">Commercial Remodeling</h3>
            <p class="cs-text">
                From office spaces and storefronts to restrooms and building common areas, we specialize in high end
                commercial renovations that bring new life to your space.

            </p>
            <span class="cs-heading">Services Include:</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    ✔ Office, retail, and restaurant remodels

                </li>
                <li class="cs-li">
                    ✔ Conference rooms, lobbies, and reception areas

                </li>
                <li class="cs-li">
                    ✔ ADA compliance upgrades & modern finishes
                </li>

            </ul>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Contact us to get started</a>
        </div>
    </div>
</section>



<section id="RPsbs-2278">

    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture" style="border:1px solid #ccc">
            <source media="(max-width: 600px)" srcset="/assets/images/3.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/3.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/3.jpg" alt="construction" width="500" height="552"
                aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <h3 class="cs-h3">Commercial Design Build</h3>
            <p class="cs-text">
                Why juggle multiple contractors when you can work with one trusted team? We handle your project from
                concept to completion, ensuring every detail aligns with your vision and budget.

            </p>
            <span class="cs-heading">Services Include:</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    ✔ Custom office buildings & commercial spaces
                  
                    

                </li>
                <li class="cs-li">
                    ✔ Architectural planning & construction execution
                  

                </li>
                <li class="cs-li">
                    ✔ Seamless integration of design, engineering, and construction
                </li>

            </ul>
            <a class="cs-button-solid" href="">Contact us to get started</a>
        </div>
    </div>
</section>



<section id="RPsbsr-2278">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/4.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/4.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/4.jpg" alt="construction" width="500" height="552"
                aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <h3 class="cs-h3">Industrial Design Build</h3>
            <p class="cs-text">
                Industrial spaces need to be efficient, durable, and built to last. We provide cost effective industrial
                construction solutions that maximize productivity while minimizing long term maintenance. </p>
            <span class="cs-heading">Services Include:</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    ✔ Warehouse & manufacturing facility construction
                </li>
                <li class="cs-li">
                    ✔ Structural improvements & layout optimization

                </li>
                <li class="cs-li">
                    ✔ Specialized industrial flooring & safety enhancements
                </li>

            </ul>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Contact us to get started</a>
        </div>
    </div>
</section>




<section id="RPsbs-2278">

    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture" style="border:1px solid #ccc">
            <source media="(max-width: 600px)" srcset="/assets/images/5.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/5.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/5.jpg" alt="construction" width="500" height="552"
                aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <h3 class="cs-h3">Building Maintenance & Property Management Services</h3>
            <p class="cs-text">
                We help property owners and managers maintain, upgrade, and protect their investments with top-tier maintenance solutions.


            </p>
            <span class="cs-heading">Services Include:</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    ✔ Ongoing repairs & upkeep
                   

                </li>
                <li class="cs-li">
                    ✔ Light plumbing & electrical upgrades
               
                    

                </li>
                <li class="cs-li">
                    ✔ Painting, flooring, and finish enhancements
                    
                  
                </li>

            </ul>
            <a class="cs-button-solid" href="">Contact us to get started</a>
        </div>
    </div>
</section>






<section id="RPsbs-2278" >
    <div class="cs-header">
        <span class="cs-topper">Additional</span>
        <h2 class="cs-title">Residential & Commercial Services
        </h2>
    </div>
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/residential1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/residential1.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/residential1.jpg" alt="construction" width="500" height="552"
                aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <h3 class="cs-h3">Tile & Paint Work</h3>
            <p class="cs-text">
                Upgrade your space with professional tile installation and high-quality painting services that enhance durability and aesthetics.

            </p>
            <span class="cs-heading">Services Include:</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    ✔ Interior & exterior painting
                
                    
                </li>
                <li class="cs-li">
                    ✔ Custom tile backsplashes & flooring
                </li>
                <li class="cs-li">
                    
                    ✔ Luxury finishes & protective coatings

                </li>

            </ul>
            <a class="cs-button-solid" href="">Contact us to get started</a>
        </div>
    </div>
</section>






<section id="RPsbsr-2278">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/residential2.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/residential2.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/residential2.jpg" alt="construction" width="500" height="552"
                aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <h3 class="cs-h3">Electrical Upgrades & Light Plumbing</h3>
            <p class="cs-text">
                Keep your building safe, functional, and up to code with our expert electrical and plumbing services.
            </p>
            <span class="cs-heading">Services Include:</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    ✔ Lighting installation & fixture upgrades
                    
                    
                </li>
                <li class="cs-li">
                    ✔ Basic plumbing repairs & fixture replacements
                  
                </li>
                <li class="cs-li">
                    ✔ Smart office technology integrations

                </li>

            </ul>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Contact us to get started</a>
        </div>
    </div>
</section>



<section id="RPsbs-2278" >

    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/residential3.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/residential3.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/residential3.jpg" alt="construction" width="500" height="552"
                aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <h3 class="cs-h3">Concrete Staircase Wood Graining</h3>
            <p class="cs-text">
                Transform ordinary concrete staircases into realistic wood like finishes for a high-end, natural look without the maintenance.

            </p>
            <span class="cs-heading">Services Include:</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    ✔ Durable, weather-resistant concrete finishing
               
                    
                </li>
                <li class="cs-li">
                    ✔ Custom wood grain patterns & stains
                   
                    
                </li>
                <li class="cs-li">
                    
                    ✔ Ideal for commercial & residential properties

                </li>

            </ul>
            <a class="cs-button-solid" href="">Contact us to get started</a>
        </div>
    </div>
</section>






<section id="RPsbsr-2278">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/residential1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/residential1.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/residential1.jpg" alt="construction" width="500" height="552"
                aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div id="vinyl" class="cs-content">
            <h3 class="cs-h3">Vinyl Cabinet Wrapping & Wallpaper Installation
            </h3>
            <p class="cs-text">
                A cost effective way to update your space without a full renovation.

            </p>
            <span class="cs-heading">Services Include:</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    ✔ Modernize old cabinets with high end vinyl wrapping
                
                    
                    
                </li>
                <li class="cs-li">
                    ✔ Custom wallpaper installation for offices & homes
                  
                  
                </li>
                <li class="cs-li">
                    ✔ Budget friendly alternative to complete cabinetry replacement
                    
                </li>

            </ul>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Contact us to get started</a>
        </div>
    </div>
</section>

