<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->


<style>
    /*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-585 {
        padding: var(--sectionPadding);
        background-color: #fafafa;
    }
    #steps-585 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #steps-585 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #steps-585 .cs-card-group {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
    #steps-585 .cs-item {
        list-style: none;
        min-height: 18.125rem;
        /* 16px - 24px left & right */
        padding: 1rem clamp(1rem, 1.8vw, 1.5rem);
        border-bottom: 1px solid var(--headerColor);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #steps-585 .cs-item:last-of-type {
        border: none;
    }
    #steps-585 .cs-h3 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2em;
        text-align: left;
        margin: 0 0 0.75rem 0;
        color: #333;
        display: block;
    }
    #steps-585 .cs-item-text {
        font-size: 1rem;
        line-height: 1.5em;
        text-align: left;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #steps-585 .cs-number {
        font-size: 3.8125rem;
        font-weight: 900;
        line-height: 1.2em;
        /* auto pushes against other elements in a flexbox, this one forces it to be at the bottom of the flexbox */
        margin: auto 0 0 0;
        color: var(--primary);
        display: block;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-585 .cs-container {
        max-width: 80rem;
    }
    #steps-585 .cs-card-group {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #steps-585 .cs-item {
        width: 48%;
    }
    #steps-585 .cs-item:nth-of-type(3) {
        border-bottom: none;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #steps-585 .cs-card-group {
        flex-wrap: nowrap;
    }
    #steps-585 .cs-item {
        border-bottom: none;
        border-right: 1px solid var(--headerColor);
    }
}

                                
</style>

<section id="steps-585">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper" data-aos="fade-up">Our Construction Process</span>
            <h2 class="cs-title">Easy steps to get started</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">Step 1:</h3>
                <p class="cs-item-text">
                    <B>Schedule a Consultation</B><BR> Contact Us to discuss your project needs and vision.

                </p>
                <span class="cs-number">01</span>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Step 2</h3>
                <p class="cs-item-text">
                    <B>Get a Custom Proposal</B><BR> We’ll provide a detailed, open book estimate with clear pricing and timelines. No surprises, no hidden fees.
                </p>
                <span class="cs-number">02</span>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Step 3</h3>
                <p class="cs-item-text">
                    <B>Begin Construction</B><br> Our experienced team gets to work, ensuring on time, on budget delivery with quality craftsmanship at every step.
                </p>
                <span class="cs-number">03</span>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Step 4</h3>
                <p class="cs-item-text">
                    <b>Enjoy Your New Space</b> <br>Move into your newly built or renovated space with confidence, knowing it's built to estand the test of time.

                </p>
                <span class="cs-number">04</span>
            </li>
        </ul>

        <DIV style="margin: 0px 0px; text-align: center;"><a class="cs-button-solid" style="margin: auto;" href="/contact">Contact us to get started</a></DIV>      
    </div>
</section>
                                