---
title: 'Commercial Construction & General Contractor in St. Louis, MO | Abstract Construction LLC'
description: 'Top-rated St. Louis general contractor delivering commercial construction, tenant improvements, drywall repair, and industrial design build. Licensed, insured, 5-star reviewed. Call (618) 771-0767 for a free quote.'
keywords: 'general contractor st louis, commercial construction st louis, commercial contractors near me, drywall repair st louis, tenant improvements, industrial design build'
permalink: '/'
preloadImg: '/assets/images/bg1.jpg'
ogImage: '/assets/images/og-default.jpg'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on('init', (user) => {
                if (!user) {
                    window.netlifyIdentity.on('login', () => {
                        document.location.href = '/admin/';
                    });
                }
            });
        }
    </script>
{% endblock %}

{% block body %}

{% include 'components/hero.html' %}
{% include 'components/trust_strip.html' %}
{% include 'components/2.html' %}
{% include 'components/3services.html' %}
{% include 'components/4_service.html' %}
{% include 'components/5why.html' %}
{% include 'components/cta.html' %}
{% include 'components/steps.html' %}
{% include 'components/lead_form.html' %}
{% include 'components/testimonial.html' %}
{% include 'components/faq.html' %}

{% endblock %}
